
body{
    color: lawngreen;
    background-color: black;
    border: 2px solid hotpink;
    border-style: groove;
}

.center {
    text-align: center; 

    margin-left: auto;
    margin-right: auto;
}

#intro {
    width: 50%;
    color: pink;
    border: 3px solid lawngreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 10px;
}

#stinky{
    width: 10%;
    border: 5px solid lawngreen;
    border-style: groove;
    
}

#leftcolumn {
    float: left;
    width: 10%;
}

.stinky img{
    border: 5px solid lawngreen;
    border-style: groove;
}

#rightcolumn {
    float: right;
    width: 10%;
    margin-right: 11px;
}

.lotus img{
    width: 10%;
    border: 5px solid pink;
    border-style: ridge;
    margin: auto;


}

@font-face {
    font-family: cinzel;
    src: url(Cinzel-Regular.ttf);
}

@font-face {
    font-family: ciznerl;
    src: url(Cinzel-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: blocky;
    src: url(joystix\ monospace.otf);
}

#middle_text {
    width: 50%;
    border: 4px solid red;
    font-family: blocky;
    margin: auto;
    margin-top: 100px;
    font-size: x-large;
    border-style: groove;
    border-radius: 10px;
    padding: 1px;
}